<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homeless Tracker</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/camera.css">
</head>
<body>
    <header>
        <div class="menu">
          <i class="fas fa-bars"></i>
        </div>
        <div class="logo">Homeless Tracker</div>
      </header>
      <div class="container">
      <video id="video"></video>   
      <a href="/detail/abk" class="next-btn">Take a photo</a>
      </div>
      <script>
        let video = document.querySelector("#video");

var constraints = {
  audio: false,
  video: true
};

function handleSuccess(stream) {
  window.stream = stream; // make stream available to browser console
  video.srcObject = stream;
}

function handleError(error) {
  console.log('navigator.getUserMedia error: ', error);
}

navigator.mediaDevices.getUserMedia(constraints).then(handleSuccess).catch(handleError);
      </script>
</body>
</html>