<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homeless Tracker</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/detail.css">
</head>
<body>
  <header>
    <div class="menu">
      <i class="fas fa-bars"></i>
    </div>
    <div class="logo">Homeless Tracker</div>
  </header>
  <div class="container">
      <div class="detail">
        <div class="person">
          <img src="https://www298.lunapic.com/do-not-link-here-use-hosting-instead/152494147356596281?9166964922">
          <div class="name">David</div>
        </div>
        <div class="status">
            <div class="urgent">need to check</div>
            <div class="date">Last checked 8 days ago</div>
          </div>
        <div class="story">
          I was veteran and suffer from PTSD. I have trouble socially connecting. I want to say thanks to all who have helped me.
        </div>
      </div>
      <div class="add">+</div>
      <div class="needs">
        <h3>Items He Needs</h3>
        <div class="list">
          <div class="item">Socks</div>
          <div class="item">Pillow</div>
          <div class="item">Summer Shorts</div>
          <div class="item">Dried Food</div>
        </div>
    </div>
      <div class="addItem hide">
        Item Name:
        <input type="text" name='item' placeholder='item'>
        <div class="btn">Add This Item</div>
    </div>
  </div>
  <script>
  let toggle;
document.querySelector('.add').addEventListener('click', function(e){
  toggle = toggle || false;
  toggle = !toggle;
  if (toggle) {
    document.querySelector('.addItem').classList.remove('hide');
  } else {
    document.querySelector('.addItem').classList.add('hide');
  }
  
}, true);
</script>
</body>
</html>