<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Homeless Tracker</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
</head>
<body>

  <header>
    <div class="menu">
      <i class="fas fa-bars"></i>
    </div>
    <div class="logo">Homeless Tracker</div>
  </header>
  <div class="container">
    <div class="motto">
      Help homeless people
    </div>
    <div class="desc">
      Face Recognition Based Tracking
    </div>
    <div class="options">
      <a href='/camera' class="item">
        <div class="img">
          <i class="fas fa-camera"></i>
        </div>
        <div class="text">take a picture</div>
      </a>
      <a class="item">
        <div class="img">
          <i class="fas fa-search"></i>
        </div>
        <div class="text">Search by Name</div>
      </a>
    </div>
    <div class="people-found">
      <h2>Previously near this location</h2>
      <div class="people">
        <a href="/detail" class="person">
          <img src="/images/homeless1.jpg">
          <div class="name">David</div>
          <div class="status">
            <div class="urgent">need to check</div>
          </div>
        </a>
        <a href="/detail" class="person">
          <img src="/images/homeless2.jpg">
          <div class="name">Kevin</div>
          <div class="status">
            <div class="warning">needs 5 items</div>
          </div>
        </a>
        <a  href="/detail" class="person">
          <img src="/images/homeless3.jpg">
          <div class="name">Wayne</div>
          <div class="status">
            <div class="green">needs 1 item</div>
          </div>
        </a>
        <a href="/detail" class="person">
          <img src="/images/homeless4.jpg">
          <div class="name">Luna</div>
          <div class="status">
            <div class="new">new</div>
          </div>
        </a>
      </div>
    </div>
    <div class="people-found">
    <h2>Homeless Shelter near this location</h2>
    
    </div>
  </div>
  <script>
  let URL = 
  fetch() 
</script>
</body>
</html>