<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Homeless Tracker</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/camera.css">
</head>

<body>
  <header>
    <div class="menu">
      <i class="fas fa-bars"></i>
    </div>
    <div class="logo">Homeless Tracker</div>
  </header>
  <div class="container">
    <a href="/detail" class="camera" style="position:relative">
      <div class="img-container" style="width: 100%; height:100%">
      <div style="height: <%= apiData.height %>px; width: <%= apiData.width %>px; top: <%= apiData.top %>px; left: <%= apiData.left %>px;position: absolute;border: 2px dashed #43d1cf; display: block;"></div>

      <img src="https://i.imgur.com/EkuU0uJ.jpg">
    </div>
    </a>
  </div>
</body>

</html>