* {
    margin: 0;
    padding: 0;
  }
  
  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    font-family: sans-serif;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    color: #fff;
    background-color: #333;
    padding: 7px;
    align-items: center;
  }
  
  .logo {
    margin: auto;
    padding: 10px;
    text-transform: uppercase;
    font-size: 25px;
  }
  
  .menu {
    padding: 10px;
    font-size: 25px;
  }
  
  .container {
    flex-grow: 1;
    display: flex;
  }
  
  .camera {
    flex-grow: 1;
    flex-direction: column;
  }
  .camera img {
    height: 100%;
    width: 100%;
  }
  